<!-- <style>
    footer{
         position: fixed;
         bottom: 10px;
         left: 250px;
    } -->
</style>
<footer style="text-align: center;"> 
    <blockquote>"Site best viewed at 1024x768 resolution in I.E. 10 or above, Google Chrome 40 or above, Firefox 37 or above, Safari 8 or above."</blockquote>
    <span><a href="">Terms and Conditions</a> &VerticalLine;
    <a href="">Disclaimer</a> &VerticalLine;
    <a href="">Privacy Policy</a></span>
    <p>Copyright © State Bank of India, All rights reserved.</p>
</footer>